%center
	%table
		%tr
			%td
				ID
			%td
				回复内容
			%td
				发布时间
			%td
				发布人
			%td
				操作
		-@replies.each do |reply|
			%tr
				%td
					=reply.id
				%td
					=link_to "点击查看",show_reply_content_bbs_topic_path(reply),:onclick=>"window.open(this.href,'show_content', 'height=600, width=600');return false;"
				%td
					=reply.created_at.localtime.to_s(:db)
				%td
					=reply.user.name
				%td
					=button_to "通过", change_status_bbs_reply_path(reply,status:"public")
					=button_to "删除",bbs_reply_path(reply),method: :delete,data:{confirm: "确定删除?"}