=form_tag sessions_path do
    =text_field_tag :account
    =password_field_tag :password
    %input{name:'goadmin',value:'1',type:'hidden'}
    =text_field_tag :captcha
    =captcha_tag id: 'captcha-img'
    %button{type:"submit"}
        登 陆