!!!
%html{:lang=>"zh"}
  %head
    %title 甘李管理后台登陆
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag controller_path, :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv/dist/html5shiv.js"
  %body
    %div{class:"ganli-login-page"}
      .header-c
        .header
      .body-c
        .body
          =render "/layouts/message"
          =render 'login_form'
      .footer-c
    = javascript_include_tag controller_path
