%tr
	%td=article.id
	%td
		- if action_name == "audit"
			=link_to truncate_u(article.title),audit_edit_admin_article_path(article)
		-else
			=link_to truncate_u(article.title),edit_admin_article_path(article)
		-if article.flag=='f'
			=content_tag(:strong,"幻灯")
	%td=article.created_at.localtime.to_s(:db)
	%td=article.updated_at.localtime.to_s(:db)
	%td=article.classification.name
	%td=article_status_to_s(article)
	%td=article.author.name
	- if action_name == "audit"
		%td=link_to "审核",action: :audit_edit,id: article
	-else
		%td=link_to "修改",action: :edit,id: article