%table
	%tr
		%th
			ID
		%th
			昵称
		%th
			留言
		%th
			ip
	%tr
		%td
			=@guest_message.id
		%td
			=@guest_message.nickname
		%td
			=@guest_message.content
		%td
			=@guest_message.ip
=form_for [:admin,@guest_message] do |f|
	%p
		=f.label :status,"审核结果"
		=f.radio_button :status,"0"
		通过
		=f.radio_button :status,"1"
		拒绝
	%p
		=f.submit