-content_for :actions_button do
	=link_to "添加留言",{action: :new},class: "tiny secondary button"
%p
	留言审核
-if @audit_guest_messages.empty?
	无需要审核的留言
-else
	%table
		%tr
			%td
				ID
			%td
				昵称
			%td
				留言
			%td
				发布时间
			%td
				ip
			%td
				操作
		=render partial: "audit_list",collection: @audit_guest_messages,as: :audit_guest_message
%p
	留言列表
%table
	%tr
		%td
			ID
		%td
			昵称
		%td
			留言
		%td
			发布时间
		%td
			ip
		%td
			操作
	=render partial: "guest_message",collection: @guest_messages