-content_for :actions_button do
	=link_to "删除私信",{action: :destroy,type: "outbox"},class: "alert small button",method: "delete",data:{confirm: "确定删除这条私信吗？"}
%p="收件人 #{@message.receiver.name}"
%p.send-time="发送时间 #{@message.created_at.localtime.to_s(:db)}"
.message_content{"data-download" => '/admin/messages/download'}
	= @message.content.html_safe
