%tr
	%td
		=friendly_link.id
	%td
		=friendly_link.name
	%td
		=friendly_link.url
	%td
		=friendly_link.friendly_link_classification.name
	%td
		=friendly_link.rank
	%td
		=link_to "<span class='tiny button secondary'>修改</span>".html_safe,edit_admin_friendly_link_path(friendly_link)
		=button_to "删除",{action: "destroy",:id=>friendly_link},method: :delete,data:{confirm:"确定删除 #{friendly_link.name} ?"},class: "tiny button alert"