.friendly_links_c
  .header
    友情链接
  .friendly-links
    -flcs = FriendlyLinkClassification.all
    -flcs.each do |flc|
      -links = flc.friendly_links
      %select{class: 'friendly-links-select'}
        %option{value: ''}=flc.name
        =options_for_select(links.collect{|link| [link.name,link.url]})