.navigation-c
  .header
    %span栏目列表
  %ul
    -top_nav = @page.navigation.tops_nav
    -subs = top_nav.subs.to_a
    -lists = subs.insert(0,top_nav)
    -lists.each do |nav|
      %li
        =link_to nav.name,nav.link_url 