.news-list-c
  .list-header
    %span 校园动态
    .more=link_to "更多",articles_path,target: "_blank"
  %ul{class: "news-list"}
    =render partial: 'news',collection: @row_one_news,locals: {truncate: 30,time: true}