.index-welcome
  .user-info
    %p="欢迎您 #{current_user.name} 用户组: #{current_user.group.name}"
    %p="上次登录时间 #{current_user.lastlogin.strftime("%F %T")}"
    %p{class: "actions"}
      -if current_user.has_permission? Permission.find(7)
        =link_to "进入个人中心",admin_path
  .user-logout
    =button_to "退出","/logout",method: :delete
