.main-page
  .left-c
    =render 'left_navs'
  .right-c
    .row
      .news-1
        =render partial: 'news_1',locals:{classification: 26}
      .news-1
        =render partial: 'news_1',locals:{classification: 27}
    .row.news-1-c
      .news-1
        =render partial: 'news_1',locals:{classification: 28}
      .news-1
        =render partial: 'news_1',locals:{classification: 29}