.edui-editor-toolbarboxinner{
	display: none !important;
}
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.query_by_data{
	@include clearfix;
	margin-top: 10px;
	margin-left: -10px;
	label{
		float: left;
		width: 80px;
		line-height: 22px;
		margin-left: 10px;
	}
	input{
		float:left;
		height: 30px;
		margin-left: 10px;
		width: 50px;
	}
}
.query_by_data{
	select{
		width: 60px;
		float: left;
		margin-right: 5px;
	}
}
