table{
	width: 100%;
	font-size: 14px;
}
.article-list{
	line-height: 30px;
	.article-header{
		float: left;
	}
	.article-contro{
		float: left;
		.button-c{
			float: left;
		}
	}
}
#article_classification_id{
	width: 100px;
	height: 30px;
	option{
		height: 30px;
	}
}
#article_thumb{
	margin-top: 10px;
}