@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.check-list{
	@include clearfix;
	input{
		float: left;
		margin-right: 5px;
	}
	label{
		margin-right: 10px;
		float: left;
		line-height: 20px;
	}
}
#date_year,#date_month,#date_day{
	width: 65px;
	margin-right: 10px;
}