@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
#users_groups_select_list{
	@include clearfix;
	background: #fff;
	padding: 10px;
	ul{
		margin-bottom: 0;
		width: 30%;
		float: left;
		
		li{
			cursor: pointer;

		}
	}
}
.message_content{
	margin: 10px;
	padding: 10px;
	border: 1px #ccc solid;
	background: #fff;
}
.send-time{
	color: #666;
	font-size: 12px;
}
.insert-files-c{
	margin: 10px;
	padding: 10px;
	padding-bottom: 5px;
	background: #B4E5F2;
	.insert-files-header{
		padding-bottom: 10px;
	}
	.insert-files{
		margin-bottom: 0px;
		padding-left: 8px;
		background: #fff;
	}
}
label[for='message_content']{
	margin-top: 10px;
}
textarea{
	height: 200px;
}