-content_for :actions_button do
	=link_to "新增导航",new_admin_navigation_path,class: "tiny secondary button"
%ul
	-@top_navs.each do |top_nav|
		%li
			=top_nav.name
			=link_to "修改",edit_admin_navigation_path(top_nav)
			%ul
				-top_nav.subs.each do |nav|
					%li
						=nav.name
						=link_to "修改",edit_admin_navigation_path(nav)
