-content_for :actions_button do
	=link_to "发布通知公告",{action: :new},class: "tiny secondary button"
-if @announcements.empty?
	没有可显示的内容
-else
	%table
		%tr
			%td
				ID
			%td
				通知标题
			%td
				发布时间
			%td
				更新时间
			%td
				发布人
			%td
				操作
		=render partial: 'announcement',collection: @announcements
	=will_paginate @announcements