-@all_audit_group = Group.includes(:permissions).where(permissions:{id:10}).to_a
-#@audit_group = @affair_form.audit_process.map{|x| Group.find x} if @affair_form.audit_process
-#@audit_group = [] unless @audit_group
-users_list = User.with_groups_id(@all_audit_group.collect{|group| group.id})
%input{type:"hidden",id:"user-data","data-users"=> users_list.to_json}
=form_for [:admin,@affair_form] do |f|
	%p
		=f.label :title,"申请表头"
		=f.text_field :title
	%p
		=f.label :describe, "申请表描述"
		=f.text_field :describe
	%p
		=f.label :form,"申请表"
		=f.text_area :form
	-# .audit-process-contro
	-# 	=label_tag "exist-group","可审核组"
	-# 	%select{id:"exist-group",multiple:"multiple"}
	-# 		-(@all_audit_group-@audit_group).each do |group|
	-# 			%option{value:"#{group.id}"}
	-# 				=group.name
	-# 	%button.add >>
	-# 	%button.remove <<
	-# 	=label_tag "affair_form_audit_process","该表单审核组"
	-# 	%select{id:"affair_form_audit_process",name:"affair_form[audit_process][]",multiple:"multiple"}
	-# 		-@audit_group.each do |group|
	-# 			%option{value:"#{group.id}"}
	-# 				=group.name
	%p
		请选择审核用户(审核顺序从左至右)
		= content_tag('ul',"",id: "audit_process",data: {audit_user: @affair_form.audit_process})
		=render partial: '/admin/users/user_list',locals:{groups: @all_audit_group}
	%p
		=f.submit disable_with: "处理中..."