-content_for :actions_button do
	=link_to "我的申请",{action: :propose},class: "tiny secondary button"
.affair_forms
	.header
		请选择您要申请的表单
	-@affair_forms.each do |affair_form|
		=link_to affair_form.title,new_admin_affair_form_affair_form_instance_path(affair_form),class: "small success button"