=form_for [:admin,@group] do |f|
	%p	
		=f.label :name,"用户组名"
		=f.text_field :name
	%div.clearfix
		%h6 用户权限
		-@permissions.each do |permission|
			%p.clearfix
				=label_tag "group_permissions_#{permission.id}",permission.name,title: permission.describe
				=check_box_tag 'group[permission][]',permission.id,(checked = true if f.object.permissions.include?(permission)),id: "group_permissions_#{permission.id}"
	%p
		=f.submit