@import 'compass/reset';
.ganli-login-page{
	.close{
		display: none;
	}
	.header-c{
		height: 99px;
		background: #0f5e02;
		.header{
			height: 99px;
			width: 923px;
			margin: 0 auto;
			background: url(/assets/style/admin-login-header-welcome.jpg);
		}
	}
	.body-c{
		height:540px;
		background: url(/assets/style/admin-login-bg.jpg);
		.body{
			position: relative;
			height: 540px;
			width: 923px;
			margin: 0 auto;
			background: url(/assets/style/admin-login-form.jpg);
			.alert{
				position: absolute;
				background: #ccc;
				top: 90px;
				left: 365px;
			}
			#email{
				width: 228px;
				height: 33px;
				position: absolute;
				left: 461px;
				top: 232px;
			}
			#password{
				width: 228px;
				height: 33px;
				position: absolute;
				left: 461px;
				top: 282px;
			}
			#captcha{
				width: 114px;
				height: 33px;
				position: absolute;
				left: 461px;
				top: 332px;
			}
			#captcha-img{
				position: absolute;
				left: 590px;
				top: 331px;
				cursor: pointer;
			}
			button{
				background: url(/assets/style/admin-login-button-bg.jpg);
				height: 40px;
				width: 135px;
				border: none;
				font-size: 14px;
				color: #666;
				position: absolute;
				cursor: pointer;
				left: 461px;
				top: 382px;
			}
		}
	}
	.footer-c{
		height: 99px;
		background: #0f5e02;
	}
}