=form_for [:admin,@user] do |f|
	%p
		=f.label :name
		=f.text_field :name
	%p
		=f.label :account
		=f.text_field :account
	%p
		=f.label :password
		=f.password_field :password,{:autocomplete =>"off"}
	%p
		=f.label :email
		=f.text_field :email
	%p
		=f.label :qq
		=f.text_field :qq
	%p
		=f.label :phone
		=f.text_field :phone
	%p
		=f.label :teacher_position
		=f.text_field :teacher_position
	%p
		=f.label :grade
		=f.text_field :grade
	%p
		=f.label :group
		-if @user.id
			=collection_select :user,:group,Group.all,:id,:name,{selected: @user.group.id}
		-else
			=collection_select :user,:group,Group.all,:id,:name
	%p
		=f.submit disable_with: '提交中...'