-content_for :actions_button do
	=link_to "打印","#",onclick: "window.print();return false;",class: "tiny secondary button"
=render partial: "/admin/delete_button",locals: {name: "删除此次申请"}
.printable
	%h4
		=@instance.title
	%p
	="申请时间： #{@instance.created_at.localtime.to_s(:db)}"
	=@instance.form.html_safe
	%p="审核状态: " << @instance.current_status_to_s
	-unless @instance.logs.empty?
		%table
			%caption
				审核日志
			%tr
				%td 审核人
				%td 审核时间
				%td 审核结果
				%td 审核备注
			-@instance.logs.each do |log|
				%tr
					%td=User.find(log.approver).name
					%td=log.created_at.localtime.to_s(:db)
					%td=(log.status == 0) ? "通过" : "不通过"
					%td=log.remark