<table>
    <thead>
        <tr>
            <% @instance_tmp.get_fields.each do |th| %>
                <th><%= th %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @instances.each do |instance| %>
            <tr id="<%= instance.id %>">
                <% instance.get_values.each do |value| %>
                    <td><%= value %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>