-if @instance_tmp
	-content_for :actions_button do
		=link_to "导出excel","list.json",class: "tiny secondary button"
按日期区间
=form_tag list_admin_affair_form_instances_path,class: "query_by_data",method: :get do
	%label 起始日期	
	=select_date @start_date,:prefix => "start_date",start_year: 2013
	%label 结束日期
	=select_date @end_date,:prefix => "end_date",start_year: 2013
	.type-select
		=affair_form_types_radio(AffairForm.all, params[:affair_form_type])
	=submit_tag "查看"
-if @instances.empty?
	没有申请表
-else
	%table
		%tr
			%td
				ID
			%td
				申请表标题
			%td
				申请时间
			%td
				申请人
			%td
				状态
		-@instances.each do |instance|
			%tr
				%td=instance.id
				%td=link_to instance.title,admin_view_admin_affair_form_instance_path(instance)
				%td=instance.created_at.localtime.to_s(:db)
				%td=instance.proposer.name
				%td=instance.current_status_to_s
	=will_paginate @instances