=render partial: 'admin/ueditor/no_toolbar',locals:{ueditor_id:"affair_form_instance_form"}
%p
	审核流程
	=@affair_form_instance.audit_process_to_s
=form_for [:admin,@affair_form,@affair_form_instance] do |f|
	%h4
		=@affair_form.title
	%p
		=f.label :form,"申请表"
		=f.text_area :form
	%p
		=f.submit "提交申请",disable_with: '提交中...'