-content_for :actions_button do
	=link_to "导出xls格式",admin_lunches_path(format: :xls,date: params[:date]),class: "success tiny button"
=form_tag admin_lunches_path,method: :get do
	按日期
	=select_date @query_date,start_year: 2013
	=submit_tag "查看"
%p
	="日期 #{@query_date}"
	

-unless @lunches.empty?
	%table
		%tr
			%td 姓名
			%td 订餐时间
			%td 预定类型
		=render(partial: "lunch",collection: @lunches)
-else
	该日期没有人订餐