-unless Lunch.scheduled? current_user
	=form_for [:admin,@lunch] do |f|
		- a = [{id:1,name:"早餐"},{id:2,name:"中餐"},{id:3,name:"晚餐"}].map{|arr| OpenStruct.new(arr)}
		%p=Lunch.lunch_date.strftime("预定 %Y 年 %m 月 %d 日 用餐")
		%p.check-list=f.collection_check_boxes :mold,a,:id,:name
		%p=f.submit "预定",disable_with:"提交中..."
-else
	=Lunch.lunch_date.strftime("已经预订了%Y-%m-%d的")
	=Lunch.current_user_mold(current_user).mold_to_s.join("、")